<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDImL-8HlydMtokQwmAlYynf1Kr0czn5HE</string>
	<key>GCM_SENDER_ID</key>
	<string>207917176596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.abdul.The-Grounded-Mind</string>
	<key>PROJECT_ID</key>
	<string>the-grounded-mind</string>
	<key>STORAGE_BUCKET</key>
	<string>the-grounded-mind.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207917176596:ios:772bc54d1738f42e869401</string>
</dict>
</plist>